@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

body{
  background-color: rgb(65, 58, 58);
  height: 100vh;
  color: white;
}

.page{
  justify-content: center;
  align-items: center;
  display: flex;
}